body {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
}

.img_card {
    height: 50px;
    width: 50px;
}

.container {
    width: 1142px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div {
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: column;
}

.all_icon {
    flex-wrap: wrap;
    overflow: auto;
    align-items: stretch
}

.icon_visible {
    width: 100px;
    height: 100px;
}

.tag_table,
.group {
    flex-grow: 1;
}

.ïcon_card {
    width: 150px;
}

p.pack::before {
    content: 'Pack:';
    font-weight: bold;
}

p.meta::before {
    content: 'MetaTag:';
    font-weight: bold;
}

p.tag::before {
    content: 'Tag:';
    font-weight: bold;
}

.packs {
    background-color: aquamarine;
}

.metatags {
    background-color: lightgreen;
}

.tags {
    background-color: lightcoral;
}

.name_card {
    font-weight: bold;
}