body {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px
}

img {
    height: 100%;
    width: 100%;
}

.container {
    width: 1142px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

div {
    border: 2px solid gray;
    margin: 10px;
    padding: 10px;
}

.vertical {
    display: flex;
    flex-direction: column;
}

.horizontal {
    display: flex;
    flex-direction: column;
}

.all_icon {
    flex-wrap: wrap;
}

.icon_visible {
    width: 100px;
    height: 100px;
}

.tag_table,
.group {
    flex-grow: 1;
}

.packs {
    background-color: aquamarine;
}

.metatags {
    background-color: lightgreen;
}

.tags {
    background-color: lightcoral;
}